/*Nav*/
body {
    background-color: rgb(177, 247, 247);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #aeeb56;

}
.nav_section {
    display: flex;
}
.nav_item {
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    padding: 12px;
}
.logo_icon{
  
    background-image: url(../assets/Logo.png);
    height: 50px;
    width: 50px;
    background-size: cover;
}

/*main*/
/*main_header*/
.main_header {
    text-align: center;
    font-family: cursive;
                                                
}
/*main_section*/
.main_section{
    display: flex;
    justify-content: space-between;
}
.main_section_article{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
    margin-left: 150px;
}
.main_banner_container {
    height: 490px;
    width: 80%;
}
.main_content_banner{
    height: 490px;
    width: 100%;
    background-size: cover;
}

.banner-1{
    background-image: url(../assets/Botol_Bekas.jpeg);
    
}
.banner-2{
    background-image: url(../assets/Vas_Bunga_BotolPlastik.jpg);
    
}
.banner-3{
    background-image: url(../assets/Kantong_Belanja_DaurUlang.jpg);
    
}

.button_content_banner {
    display: flex;
}
.radiusbutton_banner {
    border-radius: 100%;
    background-color: rgb(41, 134, 221);
    font-size: small;
}

.main_section_article_account {
    display: flex;
    align-items: center;
    justify-content: center;
}
.account_icon{
    background-image: url(../assets/ablo.jpeg);
    border: 1px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: cover;
  }
.account_info {
    margin-top: 0;
}
h3 {
    margin-bottom: 0;
}

/*main_section_form*/
.main_section_form{
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    width: 300px;
    height: 500px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: flex-start;
    background-color: #aeeb56;
    box-shadow: 2px 2px 5px rgb(153, 212, 212);
}

input{
    display: inline-block;
    min-height: 40px;
    background: #fff;
    border: 1px solid #bec0c4;
    box-shadow: none;
    border-radius: 8px;
    margin: 8px 0;
    width: 70%;
    text-align: center;
    font-family: arial, sans-serif;
}
button {
    height: 40px;
    width: 71%;
}

.Warna_Button {
    background-color: rgb(64, 181, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 2px 2px 2px #7ca83d;;
}

/*main_article*/
.main_article {

    margin-bottom: 12px;
    width: 550px;
    height: 250px;
    margin-left: 150px;
}
ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    flex-direction: column;
    margin: 0.1;
    padding: 0;
  }
  ol li {
    counter-increment: my-awesome-counter;
    display: flex;
    width: 50%;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  ol li::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.5rem;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
  }  

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.Header_Footer {
    text-align: center;
    font-family: cursive;
    background-color: #aeeb56;
    width: 100%;
}

/*footer_section*/
.footer_section_Layanan {

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
 
}
.Layanan_List {
    padding: 12px;
    display: flex;
}

.Layanan_icon1 {
    background-image: url(../assets/Logo.png);
    border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.h3_Layanan {
    margin-top: 0;
}

@media only screen and (max-width: 1462px) {
    .main_section {
        flex-direction: column;
    }
    .main_section_article {
        margin-left: 0px;
        width: 100%;
    }
    .main_section_form {
        margin-right: 0px;
        width: 100%;
    }
    .main_article {
        margin-left: 0px;
    }
}
